body {
    font-family: Arial, sans-serif;
    padding: 10;
    width: 500px;
    height: 500px;
  }
#toggleButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}